img {
  width: 100%;
  height: 320px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 9px;
  align-items: center;
  padding: 10px 34px;
}

.individual-country-container {
  margin-top: 90px;
}

.back-button-container {
  display: inline-block;
}

.country-information-container {
  margin-top: 60px;
}

h4 span {
  font-weight: 300;
}

.border-countries {
  gap: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.countries {
  display: flex;
  gap: 20px;
}

.flag {
  height: 375px;
}

@media screen and (min-width: 992px) {
  .content {
    display: flex;
  }

  .flag-container {
    width: 50%;
  }

  img {
    width: 84%;
    height: 472px;
  }
  .country-information-container {
    margin: 0;
  }

  .flex-box {
    display: flex;
    gap: 135px;
  }

  .border-countries {
    gap: 12px;
    margin-top: 60px;
    align-items: center;
  }

  .border-countries span {
    font-weight: 700;
  }
}
