<div>
  <div
    class="back-button-container"
    [ngClass]="{
      'dark-mode-shadow': selectedMode === 'dark',
      'light-mode-shadow': selectedMode === 'light'
    }"
  >
    <button
      (click)="backToMultipleView()"
      [ngClass]="{
        'dark-mode': selectedMode === 'dark',
        'light-mode': selectedMode === 'light',
        'dark-mode-text': selectedMode === 'dark',
        'light-mode-text': selectedMode === 'light'
      }"
    >
      <fa-icon [icon]="leftArrowIcon"></fa-icon>
      <span>Back</span>
    </button>
  </div>
</div>

<div
  class="content individual-country-container"
  [ngClass]="{
    'dark-mode-background': selectedMode === 'dark',
    'dark-mode-text': selectedMode === 'dark',
    'light-mode-background': selectedMode === 'light',
    'light-mode-text': selectedMode === 'light'
  }"
>
  <div class="flag-container"><img [src]="countryData.flags.svg" /></div>
  <div class="country-information-container">
    <h2>{{ countryData.name }}</h2>
    <div class="flex-box">
      <div>
        <h4>
          Native Name: <span>{{ countryData.nativeName }}</span>
        </h4>
        <h4>
          Population:
          <span>{{ countryData.population | number : "1.0" : "en-US" }}</span>
        </h4>
        <h4>
          Region: <span>{{ countryData.region }}</span>
        </h4>
        <h4>
          Sub Region: <span>{{ countryData.subregion }}</span>
        </h4>
        <h4>
          Capital: <span>{{ countryData.capital }}</span>
        </h4>
      </div>

      <div>
        <h4>
          Top Level Domain: <span>{{ countryData.topLevelDomain[0] }}</span>
        </h4>
        <h4>
          Currencies:
          <span>{{ separateValuesByComma(countryData.currencies) }}</span>
        </h4>
        <h4>
          Languages:
          <span>
            {{ separateValuesByComma(countryData.languages) }}
          </span>
        </h4>
      </div>
    </div>
    <div class="border-countries">
      <span>Border Countries:</span>
      <div class="countries">
        <button
          *ngFor="let country of countryData.borders"
          [ngClass]="{
            'dark-mode-shadow': selectedMode === 'dark',
            'light-mode-shadow': selectedMode === 'light',
            'dark-mode': selectedMode === 'dark',
            'light-mode': selectedMode === 'light'
          }"
        >
          {{ country }}
        </button>
      </div>
    </div>
  </div>
</div>
