<section
  (click)="setSelectedCountry()"
  [ngClass]="{
    'dark-mode-shadow': selectedMode === 'dark',
    'light-mode-shadow': selectedMode === 'light'
  }"
>
  <div class="flag"><img [src]="countryData.flags.png" /></div>

  <div
    class="country-information-container"
    [ngClass]="{
      'dark-mode': selectedMode === 'dark',
      'light-mode': selectedMode === 'light'
    }"
  >
    <h2>{{ countryData.name }}</h2>
    <h4>
      Population:
      <span>{{ countryData.population | number : "1.0" : "en-US" }}</span>
    </h4>
    <h4>
      Region: <span>{{ countryData.region }}</span>
    </h4>
    <h4>
      Capital: <span>{{ countryData.capital }}</span>
    </h4>
  </div>
</section>
