<section
  [ngClass]="{
    individualView: individualView,
    'dark-mode-background': selectedMode === 'dark',
    'light-mode-background': selectedMode === 'light'
  }"
>
  <ng-container *ngIf="individualView; else multipleView">
    <div>
      <div class="back-button-container">
        <button (click)="goBackToMultipleView()">Back</button>
      </div>
    </div>
    <div class="individual-country-container">
      <app-individual-country-view> </app-individual-country-view>
    </div>
  </ng-container>
  <ng-template #multipleView>
    <div class="inputs-container">
      <div
        class="search-input"
        [ngClass]="{
          individualView: individualView,
          'dark-mode': selectedMode === 'dark',
          'light-mode': selectedMode === 'light'
        }"
      >
        <fa-icon icon="coffee"></fa-icon>
        <input
          placeholder="Search for a country..."
          (input)="getCountriesByName($event.target)"
        />
      </div>
      <div class="filter-input">
        <div
          class="filter-label"
          [ngClass]="{
            individualView: individualView,
            'dark-mode': selectedMode === 'dark',
            'light-mode': selectedMode === 'light'
          }"
        >
          <label for="countries">Filter by region:</label
          ><i (click)="showOptionsToggle()">Arrow</i>
        </div>
        <ng-container *ngIf="showOptions">
          <div
            class="filter-options"
            [ngClass]="{
              'dark-mode': selectedMode === 'dark',
              'light-mode': selectedMode === 'light'
            }"
          >
            <ul
              (click)="selectOption($event.target)"
              [ngClass]="{
                'dark-mode': selectedMode === 'dark',
                'light-mode': selectedMode === 'light'
              }"
            >
              <li>Africa</li>
              <li>Americas</li>
              <li>Asia</li>
              <li>Europe</li>
              <li>Oceania</li>
            </ul>
          </div></ng-container
        >
      </div>
    </div>
    <div class="main-container">
      <div
        class="countries-container"
        *ngFor="let country of countriesSelected"
      >
        <app-country-card [countryData]="country"></app-country-card>
      </div>
    </div>
  </ng-template>
</section>
