section {
  padding-top: 10px;
  padding: 25px;
  height: fit-content;
}

.individual-view {
  padding: 45px 35px;
}

@media screen and (min-width: 992px) {
  section {
    padding: 40px 80px;
    min-height: calc(100% - 159px);
  }

  .individual-view {
    padding: 90px 80px;
    height: calc(100% - 78px);
    box-sizing: border-box;
  }
}
