section {
  padding-top: 10px;
  padding: 25px;
}

.search-input {
  width: 89vw;
  margin: 20px auto;
  height: 70px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(215 215 215);
}

.filter-input {
  width: 53vw;
  margin: 20px 35px 50px 0;
  height: 70px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(215 215 215);
}

input {
  border: none;
  background-color: transparent;
  font-family: "Nunito Sans";
}

input:focus-visible {
  outline: none;
}

.filter-options {
  background-color: white;
  position: relative;
  top: 6px;
  width: 76%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(215 215 215);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  margin: 8px 0;
  font-weight: 800;
}

li:hover {
  background-color: rgb(215 215 215);
}

.filter-label {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 31px;
  justify-content: space-between;
}

.showOptions {
  display: none;
}

button {
  outline: none;
  border: none;
  background-color: white;
  height: 40px;
  width: 80px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(215 215 215);
}

.individual-country-container {
  margin-top: 90px;
}

.individualView {
  padding: 45px 35px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 992px) {
  .inputs-container {
    flex-direction: row;
    justify-content: space-between;
  }

  section {
    padding: 40px 80px;
  }

  .search-input {
    width: 34vw;
    margin: 0;
  }
  .filter-input {
    width: 12vw;
    margin: 0;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    margin-top: 50px;
  }

  .individualView {
    padding: 90px 80px;
  }
}
